<div class="fa-dashboard">
  <div class="row no-gutter fa-dashboard__header">
    <div class="col-md-3">
      <div class="fa-dashboard__options">
        <div class="fa-dashboard__options-content">
          <div class="fa-dashboard__calendar">
            <!-- SVG file -->
            <svg-icon class="fa-svg-icon" src="../../../assets/icons/svg/dashboard/calendar.svg"></svg-icon>

          </div>
          <div class="fa-dashboard__info">
            <p>500</p>
            <span>Appointment</span>
          </div>
        </div>
        <div class="fa-dashboard__options-menu">
          <!-- svg here -->
          <svg-icon class="fa-svg-icon" src="../../../assets/icons/threedots.svg"></svg-icon>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="fa-dashboard__options">
        <div class="fa-dashboard__options-content">
          <div class="fa-dashboard__operations">
            <!-- SVG file -->
            <svg-icon class="fa-svg-icon" src="../../../assets/icons/svg/dashboard/operation.svg"></svg-icon>

          </div>
          <div class="fa-dashboard__info">
            <p>104</p>
            <span>Operations</span>
          </div>
        </div>
        <div class="fa-dashboard__options-menu">
          <!-- svg here -->
          <svg-icon class="fa-svg-icon" src="../../../assets/icons/threedots.svg"></svg-icon>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="fa-dashboard__options">
        <div class="fa-dashboard__options-content">
          <div class="fa-dashboard__new-patients">
            <!-- SVG file -->
            <svg-icon class="fa-svg-icon" src="../../../assets/icons/svg/dashboard/newpatient.svg"></svg-icon>

          </div>
          <div class="fa-dashboard__info">
            <p>150</p>
            <span>New Patients</span>
          </div>
        </div>
        <div class="fa-dashboard__options-menu">
          <!-- svg here -->
          <svg-icon class="fa-svg-icon" src="../../../assets/icons/threedots.svg"></svg-icon>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="fa-dashboard__options">
        <div class="fa-dashboard__options-content">
          <div class="fa-dashboard__earning">
            <!-- SVG file -->
            <svg-icon class="fa-svg-icon" src="../../../assets/icons/svg/dashboard/earning.svg"></svg-icon>

          </div>
          <div class="fa-dashboard__info">
            <p>$20,500</p>
            <span>Earning</span>
          </div>
           
        </div>
        <div class="fa-dashboard__options-menu">
          <!-- svg here -->
          <svg-icon class="fa-svg-icon" src="../../../assets/icons/threedots.svg"></svg-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-gutter">
    <div class="col-md-8">
      <div class="fa-dashboard__chart-container">
        <app-chart></app-chart>
      </div>
    </div>
    <div class="col-md-4">
      <div class="fa-dashboard__barChart-container">
        <app-chart-bar></app-chart-bar>
      </div>
    </div>
  </div>
  <div class="row no-gutter">
    <div class="col-md-8">
      <div class="fa-dashboard__patients-list">
        <app-patients-list></app-patients-list>
      </div>
    </div>
    <div class="col-md-4">
     <div class="fa-dashboard__top-doctors">
      <app-top-doctors></app-top-doctors>
     </div>
    </div>
  </div>
</div>



